---
// 1. Definimos la estructura de una fila de la tabla
interface FilaTabla {
  nombre: string;
  logo: string;
  PJ: number;
  PG: number;
  PE: number;
  PP: number;
  PTS: number;
}

interface Props {
  tabla: FilaTabla[];
}

const { tabla } = Astro.props;
---


<div class="overflow-hidden rounded-xl border border-slate-800 shadow-xl bg-slate-900/20">
  <table class="w-full text-left text-sm text-slate-300">
    <thead class="text-md uppercase bg-slate-900">
      <tr class= "bg-lime-500">
        <th class="px-4 py-3 text-black">#</th>
        <th class="px-4 py-3 text-black text-center">Equipo</th> 
        <th class="px-4 py-3 text-center text-black">PJ</th>
        <th class="px-4 py-3 text-center text-black">PG</th>
        <th class="px-4 py-3 text-center text-black">PE</th>
        <th class="px-4 py-3 text-center text-black">PP</th>
        <th class="px-4 py-3 text-center font-bold text-red-600">PTS</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-slate-700">
      {tabla.map((fila, index) => (
        <tr class="hover:bg-slate-700/30 transition-colors">
          <td class="px-4 py-3 font-mono text-white">{index + 1}</td>
          <td class="px-4 py-3 font-bold text-white flex items-center gap-3">
            <div class="w-8 h-8 rounded-full bg-slate-700 flex items-center justify-center overflow-hidden border border-slate-600">
              {fila.logo ? (
                <img src={fila.logo} alt={fila.nombre} class="w-full h-full object-contain" />
              ) : (
                <span class="text-[10px] text-slate-400 uppercase">{fila.nombre.substring(0, 2)}</span>
              )}
            </div>
            {fila.nombre}
          </td>
          <td class="px-4 py-3 text-center">{fila.PJ}</td>
          <td class="px-4 py-3 text-center">{fila.PG}</td>
          <td class="px-4 py-3 text-center">{fila.PE}</td>
          <td class="px-4 py-3 text-center">{fila.PP}</td>
          <td class="px-4 py-3 text-center font-bold text-red-600">{fila.PTS}</td>
        </tr>
      ))}
    </tbody>
  </table>
</div>